
  <h1>Editing Book</h1>
    <%= form_with model: @book, url: book_path(@book.id), method: :patch do |f| %>
    <form class="new_book" >
      <div class="field">
        <div class="book-title"><%= f.label :Title %></div>
        <div class="book-title"><%= f.text_field :title %></div>
      </div>
      <div class="field">
        <div class=book-body><%= f.label :Body %></div>
        <div class="book-body"><%= f.text_area :body %></div>
      </div>
      <div class="actions">
        <%= f.submit 'Update Book' %>
      </div>
    </form>
    <% end %>

  <%= link_to "Show", book_path(@book.id) %>
   |
  <%= link_to "Back", '/books' %>
